/*
File: style.css
Author: Molnár Bence
Copyright: 2024, Molnár Bence
Group: Szoft I-1-N
Date: 2024-01-30
Github: https://github.com/erosistvan/
Licenc: GNU GPL
*/



body {
    margin: 4%;
}

header {
    height: 120px;
    background-color: antiquewhite;
}

header h1 {
    text-align: center;
}